<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Yorkshire Historic Dictionary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% nav_links = [
        {
          name: "Words",
          link: words_path,
        },
        {
          name: "Places",
          link: places_path,
        },
        {
          name: "Sources",
          link: source_materials_path,
        },
        {
          name: "Contact",
          link: contact_path,
        },
      ]
      %>

      <% nav_links.each do |tab| %>
        <% class_string = "nav-link" %>
        <% class_string = class_string + " active" if request.path.starts_with? tab[:link] %>
        <% puts request.path + "     " + tab[:link] %>
        <li class="nav-item">
          <%= link_to tab[:name], tab[:link], class: class_string %>
        </li>
      <% end %>
    </ul>
    
    <span class="navbar-text pull-right">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> | <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </span>
  </div>
</nav>
