<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Yorkshire Historic Dictionary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Words", words_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Places", places_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sources", source_materials_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
    <span class="navbar-text pull-right">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> | <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </span>
  </div>
</nav>
