<!DOCTYPE html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    <title>Yorkshire Historic Dictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="homepage-first-background">
	</div>
    <%= render "shared/navbar" %>
    <div class="container-fluid flash-container">
      <% flash.each do |key, value| %>
        <!--Use flash_class helper from ApplicationHelper -->
        <div class="<%= flash_class(key) %>"><%= value %>
        </div>
      <% end %>
    </div>
	<div class='homepage-sections'>
		<div id="homepage-banner" class="homepage-section">
			<div class="section-contents-container limited-width-section">
				<div class="homepage-section-text">
					<h1>
						The <span id="yhd-text">Yorkshire Historic Dictionary</span> is a collection of over 4,000 words, tracking the
						development of regional language in Yorkshire
					</h1>
				</div>
				<%= link_to 'Learn more', about_path, class: 'homepage-button' %>
			</div>
			<span class="homepage-attribution attribution">
				<a href="https://commons.wikimedia.org/w/index.php?curid=46048805">
					Photo
				</a>
				by
				<a href="https://commons.wikimedia.org/wiki/User:Kreuzschnabel">
					Kreuzschnabel
				</a>
				<a href="https://creativecommons.org/licenses/by-sa/3.0/">
					CC BY-SA 3.0
				</a>
			</span>
		</div>
		<div id="homepage-places" class="homepage-section">
			<div class="section-contents-container limited-width-section">
				<div class="homepage-section-text">
					<h1>
						Discover the places that shaped Yorkshire's vocabulary
					</h1>
				</div>
				<%= link_to 'Places', places_path, class: 'homepage-button' %>
			</div>
			<span class="homepage-attribution attribution">
				<a href="https://flic.kr/p/6jaxau">
					Photo
				</a>
				by
				<a href="https://www.flickr.com/photos/andyspicturesurl">
					andy
				</a>
				<a href="https://creativecommons.org/licenses/by/2.0/">
					CC BY 2.0
				</a>
			</span>
		</div>
		<div id="homepage-explore" class="homepage-section">
			<div class="section-contents-container limited-width-section">
				<div class="homepage-section-text">
					<h1>
						Explore thousands of source materials, meticulously catalogued over decades
					</h1>
				</div>
				<span class="homepage-attribution attribution">
					<a href="https://flic.kr/p/axvywv">
						Photo
					</a>
					by
					<a href="https://www.flickr.com/photos/ukgardenphotos/">
						ukgardenphotos
					</a>
					<a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">
						CC BY-NC-ND 2.0
					</a>
				</span>
				<%= link_to 'Sources', source_materials_path, class: 'homepage-button' %>
			</div>
		</div>
		<div id="homepage-search" class="homepage-section">
			<div class="section-contents-container limited-width-section">
				<div class="homepage-section-text">
					<h1>Search for a word</h1>
				</div>
				<%= form_with url: search_words_path, local: true, method: 'get', class: 'homepage-search-form' do |form|%>
					<%= form.text_field :any,
						id:"homepage-search-text",
						placeholder:"Try Leeds, farrier, horse-box or coal stick",
						class:"form-control form-control-lg" %>
					<%= form.submit 'Search', name: nil, class: "homepage-button" %>
				<% end %>
			</div>
			<span class="homepage-attribution attribution">
				<a href="https://www.publicdomainpictures.net/en/view-image.php?image=194622">
					Photo
				</a>
				by
				<a href="https://www.facebook.com/hodanpictures">
					George Hodan
				</a>
				<a href="https://creativecommons.org/publicdomain/zero/1.0/">
					CC0 1.0
				</a>
			</span>
		</div>
		<div id="homepage-funding" class="homepage-section">
			<div class="section-contents-container">
				<div class="homepage-section-text">
					<h1>Made possible by</h1>
				</div>
				<div id="funding-logo-container">
					<div class="funding-logo shadowed-logo"> 
						<%= image_tag "uoy_logo.png" %>
					</div>
					<div class="funding-logo">
						<%= image_tag "fitch_logo.png" %>
					</div>
					<div class="funding-logo shadowed-logo"> 
						<%= image_tag "borthwick_logo.png" %>
					</div>
					<div class="funding-logo"> 
						<%= image_tag "yahs.png" %>
					</div>
				</div>
			</div>
			<span class="homepage-attribution attribution">
				<a href="https://flic.kr/p/274hH7Z">
					Photo
				</a>
				by
				<a href="https://www.flickr.com/photos/hunty66/">
					Pete Hunt
				</a>
				<a href="https://creativecommons.org/licenses/by-nc/2.0/">
					CC BY-NC 2.0
				</a>
			</span>
		</div>
	</div>
	
  </body>
</html>
