<div class="container">
    <div class="col">
      <%= link_to 'New Word', new_word_path, class: "btn btn-primary float-right" if current_user&.admin? %>
    </div>
  <div class="row">
    <div class="col">
      <%= render 'words/search' %>
    </div>
  </div>
  <div class="row" style="margin-top: 1em;">
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <% @words.each do |word| %>
            <tr>
              <td>
                <p class="lead"><%= link_to word.text, word %></p>
                <% word.definitions.each_with_index do |definition, index| %>
                  <p>
                    <em>
                      <%= "#{index + 1}) " if word.definitions.size > 1 %>
                      <%= definition.text || "No definition available. See discussion."%>
                    </em>
                  </p>
                <% end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= will_paginate @words, class: "justify-content-center pagination"%>
    </div>
  </div>
  <div class="row">
  </div>
</div>

