<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'words/search' %>
    </div>
    <div class="col">
      <%= link_to 'New Word', new_word_path, class: "btn btn-primary float-right"%>
    </div>
  </div>
  <div class="row" style="margin-top: 1em;">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Word</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @words.each do |word| %>
            <tr>
              <td><%= word.text %></td>
              <td><%= button_to 'View', word, class: "btn btn-sm btn-secondary", method: 'get' %></td>
              <td><%= button_to 'Edit', edit_word_path(word), class: "btn btn-sm btn-primary" %></td>
              <td><%= button_to 'Delete', word, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= will_paginate @words %>
    </div>
  </div>
  <div class="row">
  </div>
</div>

