<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @word.text %></h1>
    </div>
  </div>
  <% @word.definitions.each_with_index do |definition, index| %>
    <div class="row">
      <div class="col">
        <p><strong><em>
          <%= index + 1 %>)  <%= definition.text || "No definition available" %>
        </em></strong></p>
        <div class="definition-details">
          <% if definition&.discussion&.present? %>
            <% definition.discussion.split(";")&.each do |disc|%>
              <p><%= sanitize disc.gsub /\s?\([^\)]+\)/, '' %></p>
            <% end %> 
          <% end %>

          <% if definition&.source_references&.any? %>
            <%= render partial: 'words/word_list/source_excerpts', locals: {sources: definition.source_references} %>
          <% end %>
        </div>
        <%= render partial: 'words/network', locals: { definition_id: definition.id } %>
      </div>
    </div>
  <% end %>
</div>
