<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @word.text %></h1>
    </div>
  </div>
  <% @word.definitions.each_with_index do |definition, index| %>
    <div class="row">
      <div class="col">
          <strong><em>
            <%= index + 1 %>)  <%= definition.text || "No definition available" %>
          </em></strong>
          </br>
          <% if definition.discussion %>
            <% definition&.discussion&.split(";")&.each do |disc|%>
              <p class="mb-0 mt-3 ml-4">
                <%= sanitize disc %>
              </p>
            <% end %> 
          <% end %>

            <% if definition&.source_references&.any? %>
              <%= render partial: 'words/word_list/sources', object: definition.source_materials %>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
  <div class="row mt-4">
    <div class="col">
      <%= link_to 'Edit', edit_word_path(@word) %> |
      <%= link_to 'Back', words_path %>
    </div>
  </div>
</div>
