<p id="notice"><%= notice %></p>

<h1>Source Materials</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @source_materials.each do |source_material| %>
      <tr>
        <td><%= link_to 'Show', source_material %></td>
        <td><%= link_to 'Edit', edit_source_material_path(source_material) %></td>
        <td><%= link_to 'Destroy', source_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source Material', new_source_material_path %>
