<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= @source_material.title %></h1>
			<p><%= @source_material.description %></p>
		</div>
	</div>

	<% if @source_material.source_references.present? %>
		<h2>Associated words</h2>
		<% excerpt_strings = Hash.new { |h, k| h[k] = [] } %>
		<% @source_material.source_references.each do |reference| %>
			<% excerpt_strings[reference.excerpts_string] << reference %>
		<% end %>
		<% excerpt_strings.each do |key, references| %>
			<h3><%= key.presence || 'Whole source' %></h3>
			<% references.each do |reference| %>
				<%= link_to reference.word.text, reference.word, class: 'place-word' %>
			<% end %>
		<% end %>
	<% end %>


	<div class="row">
		<div class="col">
			<%= link_to 'Back', source_materials_path %>
		</div>
	</div>
</div>
