<!DOCTYPE html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">

    <title>Yorkshire Historic Dictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <%= render "shared/navbar" %>
    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <!--Use flash_class helper from ApplicationHelper -->
        <div class="<%= flash_class(key) %>"><%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
