<!DOCTYPE html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <script data-turbolinks-eval="false" async src="https://www.googletagmanager.com/gtag/js?id=UA-21938253-17"></script>

    <title><%= "#{yield(:title)} - " if content_for?(:title) %> Yorkshire Historic Dictionary </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body class="background">
    <%= render "shared/navbar" %>
    <div class="container-fluid flash-container">
      <% flash.each do |key, value| %>
        <!--Use flash_class helper from ApplicationHelper -->
        <div class="<%= flash_class(key) %>"><%= value %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <%= render "shared/help_modal_button" unless @no_help %>
      <%= yield %>
    </div>
    <span class="attribution background-attribution">
      <a href="https://commons.wikimedia.org/w/index.php?curid=46048805">
        Photo
      </a>
      by
      <a href="https://commons.wikimedia.org/wiki/User:Kreuzschnabel">
        Kreuzschnabel
      </a>
      <a href="https://creativecommons.org/licenses/by-sa/3.0/">
        CC BY-SA 3.0
      </a>
  </body>
</html>
